@font-face {
    font-family: Rosmatika;
    src: url(../fonts/Rosmatika.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Intro;
    src: url(../fonts/IntroDemoCond-LightCAPS.otf);
    font-weight: normal;
}
.bg-nav{
    background-color: #000b43;
    padding: 15px 0;
}
.font-custom{
    font-family: Rosmatika;
    font-size: 1.5em;
}
h1{
    letter-spacing: -0.05em;
}
body{
    background: linear-gradient(180deg,#000B43,#6a6a6a);
    background-attachment: fixed;
    font-family: Intro;
    color: #FFF;
}
section{
    margin: 100px 0;
}
.navbar-dark .navbar-brand{
    color: #FFF;
}
.navbar-dark .navbar-nav .nav-link{
    color: #FFF;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffd700;
}
.navbar-dark .navbar-nav .nav-link:focus{
    color: #ffd700;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #ffd700;
}
.dropdown .dropdown-menu .dropdown-item:active{
    background-color: #ffd700;
    color: #000B43;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    color: #000B43;
    background-color: #DCDCDC;
}
.dropdown .dropdown-menu .dropdown-item{
    color: #fff;
}
.dropdown .dropdown-menu{
    background-color: #000b43;
    border: 1px solid #ffd700;
}
.form-cripto{
    padding: 40px;
    font-size: 20px;
    margin: 100px;
}
.form-cripto-input{
    font-size: 15px;
}
.form-cripto-check{
    font-size: 15px;
}